/* Reset */

body, h1, h2, h3, p, a {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}
body {
    font-family:'Source Sans Pro', sans-serif;
    color:#222222;
}

*{
    box-sizing: border-box;
}

/* Header */

.header-bg {
    height: 563px;
    background: url('../img/Image.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}

.header-logo {
    max-width: 975px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header-logo a, p {
    font-size: 1.125em;
}

.header-info {
    max-width: 560px;
    margin: 0 auto;
}


.header-info h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}
.header-info p {
    opacity: 75%;
    font-size: 1.5em; 
    text-align: center;
}

button {
    color: #ffffff;
    background: #F33D01;
    height: 48px;
    width: 209px;
    border-radius: 50px;
    border: none;
    font-family:'Source Sans Pro', sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
    display: block;
    margin: 0 auto;
}

/* QUOTE */

.quote {
    max-width: 560px;
    display: flex;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.quote-content img {
    height: 64px;
    width: 64px;
    margin: 0 auto;
}

.quote-content q {
    font-family: 'Playfair Display', serif;
    color: #2F3035;
    font-size: 2em;
    text-align: center;
}

.quote-content:last-of-type p {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    color: #86899B;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}

/* MAIN */

.main {
    max-width: 975px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between ;
}

.main-header, .main-footer, .main-img {
    max-width: 436px;
}

.main-header h3{
    font-family: 'Playfair Display', serif;
    color: #86899B;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

.main-header h1 {
    font-family: 'Playfair Display', serif;
    color: #2F3035;
    font-size: 2em;
    font-weight: bold;
}

.main-header p {
    color: #2F3035;
    font-size: 1.25em;
    opacity: 60%;
}

.main-header h2{
    font-family: 'Playfair Display', serif;
    color: #2F3035;
    font-size: 1.5em;
    font-weight: bold;
}

.main-header h2 img {
    height: 40px;
    width: 40px;
}

/* INFOS */

.info {
    max-width: 364px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.info h2 {
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    font-weight: bold;
}

.info h2 img {
    height: 40px;
    width: 40px;
}

.info p {
    font-size: 1.25em;
    opacity: 75%; 
}

/* FOOTER */
.footer{
    display: flex;
    align-content: center;  
}

.footer a, p {
    display: inline-block;
    margin: 0 auto;
    color: #86899B;
    font-size: 1.125em;
    text-align: center;
}