.main {
    max-width: 975px;
    margin: 0 auto;
    @include display;
}

.main-header {
    max-width: 436px;
    h3 {
        color: $secondary-color;
        letter-spacing: 0.02rem;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 32px ;
        @include type-2(16);
    }
    h1 {
        color: $primary-color;  
        font-weight: bold;
        margin-bottom: 32px;
        margin-top: 40px;
        @include type-2(32);
    }
    h4 {
        color: $primary-color;
        opacity: 60%;
        text-align: left;
        padding-left: 0;
        font-weight: normal;
        margin-bottom: 64px;
        @include type-1(2024);
    }
    p {
        color: $primary-color;
        opacity: 60%;
        text-align: left;
        padding-left: 72px;
        @include type-1(2024);
    }
    h2{
        color: $primary-color;
        font-weight: bold;
        align-items: center;
        @include type-2(24);
        @include display;
        justify-content: left;
    }
} 

.main-img {
    display: block;
    max-width: 100%;
}

$lista: Mail Anchor Award Chart Command Copia;

@each $icone in $lista {
	.icone-#{$icone}:before{
		content: url('../img/Icon\ -\ #{$icone}.svg');
        margin-right: 32px;
	}
}

@include d(s) {
    .main {
        justify-content:center;
    }
    .main-header h2 {
        font-size: 1.24em;
    }
}
 
@include d(m) {
    .main { 
        justify-content: center ;
    }
    .main-header {
        h2 {
            font-size: 1.3em;
        }
        h4 {
            margin-bottom: 10px;
        }
    }
}